body {
  background-color: black;
  font-family: 'Share Tech Mono', monospace;
}
.banner {

}
.affix {
  top: 20px;
  z-index: 9999 !important;
}
.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  text-align: center;
}
.bodycontainer {
  border-top: 3px solid #0b8c0c;
  border-right: 5px solid #0b8c0c;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  margin-top: 10px;
}

.navbar{
  border-width: medium;
  border-color: #0b8c0c;
  border-bottom-color: #0b8c0c;
  width: 100%;
}

.nav-link {
  color: #1bff1f;
}

.navbar-brand {
  color: #1bff1f;
}

.nav-tabs {
   border-bottom: 1px solid #0b8c0c;
}
